#socialite_login
  .information
    %h1 Sign in (or up)
    %p.large
      You can use either your Twitter or Facebook account to sign in or sign up.
    %p
      Select your preferred method and you'll be sent off to authorise us to use your account.
    %p
      It’ll only take a second and your information will be perfectly safe. We don't get access to your password and
      %em we won't post or tweet anything from your account
      without your explicit permission.

  = twitter_login_button
  = facebook_login_button
