%h2 Unrestricted Dummy Homepage

%a{:href => '/restricted'} Go to Restricted Page

#authentication
- if user_signed_in?
  = link_to 'Sign out', socialite.logout_path
- else
  = link_to 'Sign in', socialite.login_path

#user
  = link_to 'User Profile', socialite.user_path
