%h2 User Settings

- if @user.facebook_identity
  %h3 Facebook Profile
  = link_to 'Unlink', user_identity_path(@user, @user.facebook_identity), :method => :delete
  %section.profile.facebook
    = @user.facebook.info

- if @user.twitter_identity
  %h3 Twitter Profile
  = link_to 'Unlink', user_identity_path(@user, @user.twitter_identity), :method => :delete
  %section.profile.twitter
    Not Implemented Yet.

%h2 Listing Identities
= render 'identities/identity', :locals => {:user => @user, :identities => @user.identities}
